@using X.PagedList
@using X.PagedList.Mvc.Core
@model IPagedList<DolphinFx.Models.Team>
    <table class="table table-striped table-bordered table-hover" style="width:100%;">
    <thead>
        <tr>
            <th>Team Name</th>
            <th>Team Description</th>
            <th>Client Name</th>
            <th></th>
        </tr>
    </thead>
    <tbody id="tableBody">
        <!-- Add id to tbody -->
        @foreach (var item in Model)
        {
            <tr class="team-row" data-id="@item.TeamID" title="Double tap to view Details">
                <td>@Html.DisplayFor(modelItem => item.TeamName)</td>
                <td>@Html.DisplayFor(modelItem => item.TeamDescription)</td>
                <td>@Html.DisplayFor(modelItem => item.Client.ClientName)</td>
                <td>
                    @* <a class="btn btn-success edit-button" href="javascript:void(0);"
                        onclick="loadEditForm(@item.TeamID)">Edit</a> *@
                    <a class="btn btn-success" asp-action="Edit" asp-route-id="@item.TeamID">Edit</a> |
                    <a class="btn btn-danger" asp-action="Delete" asp-route-id="@item.TeamID">Delete</a>
                </td>
            </tr>
        }
    </tbody>
</table>
<!-- Pagination Controls -->
<div class="pg">
    <div class="pagination">
        @Html.PagedListPager(Model, page => Url.Action("Index", new { page }), new PagedListRenderOptions
   {
       LinkToPreviousPageFormat = "Prev",
       LinkToNextPageFormat = "Next",
       MaximumPageNumbersToDisplay = 2, // Adjust this to show more or fewer page numbers
       DisplayLinkToFirstPage = PagedListDisplayMode.IfNeeded,// makes the 1st page as link if needed
       DisplayLinkToLastPage = PagedListDisplayMode.IfNeeded,//makes the last page no. as link if needed
       DisplayLinkToPreviousPage = PagedListDisplayMode.Always,//previous page link is always visible unless and untill it comes to first page
        DisplayLinkToNextPage = PagedListDisplayMode.Always,//next page link is always visible unless and untill it comes to last page
        UlElementClasses = new[] { "pagination" }, // Pass class name as array
       LiElementClasses = new[] { "page-item" } // Pass class name as array
   })
    </div>
</div>

<!-- Bootstrap Modal for Team Details -->
<div class="modal fade" id="teamDetailsModal" tabindex="-1" role="dialog" aria-labelledby="teamDetailsModalLabel"
    aria-hidden="true">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="teamDetailsModalLabel">Team Details</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body" id="teamDetailsBody">
                <!-- Team details will be loaded here -->
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
            </div>
        </div>
    </div>
</div>

<!-- Info Message -->
<div class="modal fade" id="infoModal" tabindex="-1" role="dialog" aria-labelledby="infoModalLabel" aria-hidden="true">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="infoModalLabel">Info</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                @if (TempData["InfoMessage"] != null)
                {
                    @TempData["InfoMessage"]
                }
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
            </div>
        </div>
    </div>
</div>

<!-- Bootstrap Modal for Success Message -->
<div class="modal fade" id="successModal" tabindex="-1" role="dialog" aria-labelledby="successModalLabel"
    aria-hidden="true">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="successModalLabel">Success</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                @if (TempData["SuccessMessage"] != null)
                {
                    @TempData["SuccessMessage"]
                }
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
            </div>
        </div>
    </div>
</div>